
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav-bground {
    background-color:  #201D1D;
}
.big-banner {
    background-image: url('../../img/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.home {
    width: 78px;
    height: 32px;
    padding: 5px
    ;
    background-color: #EBA12A;
}
.site-heading {
    position: absolute;
    height: 230px;
    left: 20px;
    top: 180px;
}

.heading-btn {
    color: #ffffff;
    background-color: #EBA12A;
    width: 200px;
}
.second-div {
    background: #F2F2F2;
}
.sec-div {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
.about {
    height: 333px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #2F2E41;
}
.practices {
    margin-top: 145px;
    margin-bottom: 100px;
}
.practices-container {
    margin-bottom: 149px;
}
.about-img {
    width: 379px;
    height: 391.37px;
}
.card-title a, .card-text {
    color: #656562;
}
.testimonial, .why, .contact{
    background: #2F2E41;
}
.testimonial{
    height: 464px;
}
.why-text h2, .why-text p {
    color: #E1E0DF;
}
.client {
    margin-top: 66px;
}
.our-client {
    padding-top: 124px;
}
.contact {
    margin-top: 120px;
}

